annotated-types==0.7.0
anyio==4.7.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.8
fastapi==0.115.6
h11==0.14.0
idna==3.10
numpy==2.2.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
PyAudio==0.2.14
pydantic==2.10.3
pydantic_core==2.27.1
pypiwin32==223
python-multipart==0.0.19
pyttsx3==2.98
pywin32==308
requests==2.32.3
sniffio==1.3.1
starlette==0.41.3
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.34.0
websockets==14.1
